{% extends "base/no-sidebar.html" %}
{% block title %}Условия поступления{% endblock %}

{% block content %}
  <section class="container" id="admission">
    <article id="main" class="special">
      <header>
        <h2>Условия поступления</h2>
        <span class="byline">
          Обучение бесплатное.
        </span>
      </header>
      <section>
        <header>
          <h3>Необходимые документы:</h3>
        </header>
        <ol>
          <li>Свидетельство о рождении ребенка</li>
          <li>Справка о состоянии здоровья (форма № 236)</li>
          <li>Справка о составе семьи и о месте работы родителей</li>
          <li>Фотографии 3 шт.(3х4см)</li>
        </ol>
        <p>
          Прием документов производится с <span class="red">1 мая</span>.
          Консультации по подготовке к поступлению происходят в течение всего
          года.</p>
      </section>
      <section>
        <header>
          <h3>Приемные экзамены:</h3>
        </header>
        <ul>
          <li>В 1 класс - <span class="red">1 июня 10:00</span></li>
          <li>В последующие классы - <span class="red">1 июня 10:00</span></li>
        </ul>
      </section>
      <h3></h3>
    </article>
  </section>
{% endblock %}