/*********************************************************************************/
/* Nav                                                                           */
/*********************************************************************************/

#nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 1.5em 0 1.5em 0;
    z-index: 1;
    overflow: hidden;
    > ul {
        line-height: 0px;
        position: relative;
        display: inline-block;
        margin: 0;
        height: 21px;
        border-left: solid 1px rgba(192, 192, 192, 0.35);
        border-right: solid 1px rgba(192, 192, 192, 0.35);
        &:before, &:after {
            content: '';
            display: block;
            width: 300%;
            position: absolute;
            top: 50%;
            margin-top: -2px;
            height: 5px;
            border-top: solid 1px rgba(192, 192, 192, 0.35);
            border-bottom: solid 1px rgba(192, 192, 192, 0.35);
        }
        &:before {
            left: 100%;
            margin-left: 1px;
        }
        &:after {
            right: 100%;
            margin-right: 1px;
        }
        > li {
            display: inline-block;
            margin: -9px 0.5em 0 0.5em;
            border-radius: 0.5em;
            padding: 0.85em;
            border: solid 1px transparent;
            @include transition(color 0.35s ease-in-out, border-color 0.35s ease-in-out);
            
            &.active {
                border-color: rgba(192, 192, 192, 0.35);
            }
            > {
                a, span {
                    display: block;
                    color: inherit;
                    text-decoration: none;
                    border: 0;
                    outline: 0;
                }
                ul {
                    display: none;
                }
            }
        }
    }
}

.dropotron {
    background: rgba(255, 255, 255, 0.975);
    padding: 1em 1.25em 1em 1.25em;
    line-height: 1em;
    height: auto;
    text-align: left;
    border-radius: 0.5em;
    box-shadow: 0 0.15em 0.25em 0 rgba(0, 0, 0, 0.25);
    min-width: 12em;
    li {
        border-top: solid 1px rgba(128, 128, 128, 0.2);
        color: #5b5b5b;
        &:first-child {
            border-top: 0;
        }
        &:hover {
            color: #ef8376;
        }
        a, span {
            display: block;
            border: 0;
            padding: 0.5em 0 0.5em 0;
            -moz-transition: color 0.35s ease-in-out;
            -webkit-transition: color 0.35s ease-in-out;
            -o-transition: color 0.35s ease-in-out;
            -ms-transition: color 0.35s ease-in-out;
            transition: color 0.35s ease-in-out;
        }
    }
}

.dropotron-level-0 {
    margin-top: 2em;
    font-size: 0.9em;
    &:before {
        content: '';
        position: absolute;
        left: 50%;
        top: -0.7em;
        margin-left: -0.75em;
        border-bottom: solid 0.75em rgba(255, 255, 255, 0.975);
        border-left: solid 0.75em rgba(64, 64, 64, 0);
        border-right: solid 0.75em rgba(64, 64, 64, 0);
    }
}
