{% extends "base/article-base.html" %}

{% block article_content %}
  <section>
    <header>
      <h2>Исторический экскурс</h2>
    </header>
    <figure>
      <img src="{{ STATIC_URL }}img/articles/building.jpg">
    </figure>

    <p>Небольшой исторический экскурс в прошлое, к истокам образования лицея
      значительно повышает юбилейную цифру - 70 лет! Именно таков
      профессиональный возраст данного учебного заведения. В 1940 году при
      Молдавской Государственной консерватории им. Г.&nbsp;Музическу была
      открыта Музыкальная школа-десятилетка, позже названная именем
      композитора Е.&nbsp;Коки. </p>

    <p>Мастерство и высокая квалификация педагогического состава быстро
      снискало славу этой школе, воспитавшей более 1000 первоклассных
      музыкантов-исполнителей, композиторов и других, впоследствии известных
      деятелей искусства. </p>

    <p>Среди них были такие личности, как
      <span class="darkred">С.&nbsp;Лункевич</span>,
      руководивший оркестром <span class="blue">"Флуераш"</span>; композитор
      <span class="darkred">К.&nbsp;Руснак</span>, органистка и педагог,
      <span class="blue">"Maestru în Arte"</span>
      <a href="{% url "teacher" 56 %}">А.&nbsp;Стрезева</a>, исполнители и
      педагоги Академии музыки, театра и пластических искусств (АМТАР) <span
          class="darkred">А.&nbsp;Лапикус</span> и <span class="darkred">Ю.&nbsp;Махович</span>,
      там же преподают в настоящее время ректор <span class="darkred">В.&nbsp;Мельник</span>,
      проректор <span class="darkred">В.&nbsp;Аксенов</span>. Выпускниками
      десятилетки являются также педагог и директор музыкального лицея им.
      Ч.&nbsp;Порумбеску
      <span class="blue">"Maestru în Arte"</span> <span class="darkred">Г.&nbsp;Буйновская</span>,
      директор Национальной
      филармонии <span class="darkred">С.&nbsp;Бивол</span>, директор Театра
      оперы и балета <span class="darkred">В.&nbsp;Шейкану</span>,
      заместитель директора лицея им. С.&nbsp;Рахманинова
      <span class="darkred">А.&nbsp;Попович</span> и многие другие. </p>
  </section>
  <section>
    <header><h3>Имя лицея</h3></header>
    <figure class="right">
      <img src="{{ STATIC_URL }}img/articles/rachmaninoff.jpg">
    </figure>

    <p>В 1990 году на базе школы им. Е.&nbsp;Коки было создано два учебных
      заведения: музыкальные лицеи им. Ч.&nbsp;Порумбеску и им. С.&nbsp;Рахманинова.</p>
    Имя замечательного русского композитора было присвоено не случайно. Отец
    композитора, Василий Аркадьевич (1841―1916), происходил из дворян
    Тамбовской губернии. История рода Рахманинова уходит корнями к внуку
    молдавского царя Стефана Великого Василию, прозванного Рахманиным. Таким
    образом, имя Сергея Рахманинова символизирует древние глубинные связи
    русской и молдавской культур.</p>
  </section>

  <section>
    <header><h3>Лицеисты</h3></header>

    <p>С юных лет лицеисты имеют возможность выступать и показывать свое
      мастерство на лучших сценах столицы, республики и за ее пределами.
      Ученики лицея участвуют в городских и республиканских
      <a href="{% url "olympiads" %}">олимпиадах</a> по общеобразовательным
      предметам (руководитель отдела <a href="{% url "teacher" 24 %}">Н.&nbsp;Янчева</a>),
      и показывают хорошие результаты, завоевывая призовые места. </p>


    <section>
      <header><h3>Выпускники</h3></header>

      <p>За 20 лет лицей окончили 361 учащийся по различным
        специальностям: фортепиано, струнные, духовые, народные и ударные
        инструменты, хоровое дирижирование, теория музыки и
        композиция. </p>

      <p><a href="{% url "graduates" %}">Выпускники</a> и бывшие учащиеся
        лицея продолжают свое образование в Академии Музыки Театра и
        Изобразительных Исскуств, в консерваториях и колледжах Португалии,
        Испании, Америки, Израиля, Хорватии, Болгарии, Белоруссии, Италии,
        России, Германии, Греции, Австрии, Бразилии, Украины, Турции,
        Франции, Польши и других стран мира. Многие из них стали
        преподавателями, исполнителями - уже довольно известными солистами
        и оркестрантами. </p>


      <p>Золотые страницы в летопись лицея вписали выпускники:</p>
      <ul>
        <li>Е. Чебыкин (валторна)</li>
        <li>А. Куликов (фортепиано)</li>
        <li>В. Гаврук (фортепиано)</li>
        <li>А. Афанасьев (валторна)</li>
        <li>Е. Пушкаревич (гитара)</li>
        <li>Д. Сахаров (аккордеон)</li>
        <li>С. Константинов (фортепиано)</li>
        <li>А. Демидова (теория музыки)</li>
        <li>К. Максимов (скрипка)</li>
        <li>А. Корень (саксофон)</li>
        <li>С. Кульчиковский (аккордеон)</li>
        <li>В. Поэта (фортепиано)</li>
      </ul>
      <p>...и многие другие юные дарования, которые были удостоены высших
        наград на международных конкурсах и фестивалях в Молдове и за
        рубежом.</p>
    </section>
  </section>

  <section>
    <header><h3>Преподаватели</h3></header>

    <p>Воспитанием и образованием музыкальных талантов Молдовы в лицее
      занимаются опытные <a href="{% url "staff" %}">педагоги</a>, стаж работы
      которых исчисляется несколькими десятками лет, а также молодые
      перспективные преподаватели.


    <p>С лицеем сотрудничают лучшие кадры Академии Музыки Театра и
      Изобразительных Исскуств. Некоторые из них:</p>
    <ul>
      <li>Л. Ваверко (профессор,
        <span class="blue">"Maestru în Arte")</span></li>
      <li><a href="{% url "teacher" 23 %}">Е. Абрамович</a> ("om emerit")
      </li>
      <li>И. Негурэ</li>
      <li>3. Михайлова</li>
      <li><a href="{% url "teacher" 60 %}">М. Белых</a></li>
      <li>Ф. Бирюков (доцент,
        <span class="blue">"Maestru în Arte"</span>)
      </li>
      <li><a href="{% url "teacher" 68 %}">И. Захария</a> (народный артист
        Молдовы)
      </li>
      <li>Б. Дубоссарский (доцент, заслуженный деятель искусств)</li>
      <li><a href="{% url "teacher" 18 %}">П. Ривилис</a> (заслуженный
        деятель искусств)
      </li>
      <li><a href="{% url "teacher" 17 %}">С. Дужа</a> (заслуженный артист
        Молдовы)
      </li>
      <li>Л. Паньковская (доцент)</li>
    </ul>

    <p>Профессионализм преподавателей, укрепленный столь мощным
      "фундаментом" опыта заслуженных мастеров-педагогов ежегодно
      подтверждается успехами учащихся, как в индивидуальном росте, так
      и в различных видах совместной исполнительской практики.</p>

    <p>
      В числе удостоенные высокого звания
      <span class="blue">"meritul civic"</span>
      - <a href="{% url "teacher" 72 %}">Н.&nbsp;Прядка</a>,
      <span class="blue">"Maestru în Arte"</span> -
      <a href="{% url "teacher" 56 %}">Н.&nbsp;Кокарева</a>,
      <a href="{% url "teacher" 56 %}">А.&nbsp;Стрезева</a>,
      <a href="{% url "teacher" 76 %}">Т.&nbsp;Свиридова</a>.
      Звание <span class="blue">"om emerit"</span> присвоено директору лицея
      <a href="{% url "teacher" 7 %}">В.&nbsp;Багрину</a> и педагогам
      <a href="{% url "teacher" 71 %}">А.&nbsp;Городецкой</a>,
      <a href="{% url "teacher" 42 %}">А.&nbsp;Гусевой</a> и
      <a href="{% url "teacher" 59 %}">В.&nbsp;Чеботаревой</a>. </p>

    <p>Коллектив лицея ценит и помнит вклад наших ветеранов музыкальной
      педагогики, которые ушли из жизни -
      <span class="darkred">Н.&nbsp;Оприца</span>
      (класс скрипки), <span class="darkred">А.&nbsp;Кузнецов</span>
      (класс тромбона и тубы), <span class="blue">"om emerit"</span>
      <span class="darkred">В.&nbsp;Величко</span> (основатель класса
      валторны и духового оркестра),
      <span class="darkred">П.&nbsp;Столярчук</span>
      (класс кларнета), <span class="darkred">В.&nbsp;Чернякова</span>
      (класс трубы), <span class="darkred">Н.&nbsp;Себов</span>
      (музыкальная литература),
      <span class="darkred">В.&nbsp;Простакова</span> и
      <span class="darkred">И.&nbsp;Столяр</span> (класс фортепиано). </p>
  </section>


  <section>
    <header><h3>Творческая деятельность</h3></header>
    <p>Педагоги постоянно готовят учащихся к исполнительским конкурсам и
      внеклассным выступлениям. Традиционный результат - дипломы, ежегодно
      пополняющие <a href="{% url "laureates" %}">список лицейских
        достижений</a>. На сегодняшний день это внушительная цифра 328
      лауреатских дипломов различных международных и национальных конкурсов!
    </p>

    <p>В течение последних 6 лет теоретический отдел лицея организует
      Музыкально-теоретический конкурс, приурочиваемый к юбилейной дате
      одного из великих русских композиторов (руководит проектом заведующая
      отделом <a href="{% url "teacher" 56 %}">А.&nbsp;Стрезева</a>). </p>

    <p>Большой известностью пользуются творческие коллективы: это визитная
      карточка лицея - ансамбль <span class="blue">"Барокко"</span>-
      лауреат международного конкурса им. С.&nbsp;Прокофьева в Москве,
      участник международных фестивалей во Франции, Венгрии, Румынии,
      Италии, Дании, Австрии, много выступает на различных концертных
      сценах столицы. Ансамбль был создан в 1994 году под руководством
      талантливого педагога <span class="blue">"Maestru în Arte"</span>
      <a href="{% url "teacher" 56 %}">А.&nbsp;Стрезевой</a>, которая
      является художественным руководителем, дирижером и автором
      большинства переложений произведений, составляющих его репертуар. </p>

    <p><span class="blue">Духовой оркестр им. В. И. Величко</span>
      (художественный руководитель и дирижер
      <a href="{% url "teacher" 8 %}">Б.&nbsp;Василюк</a>) является желанным
      гостем значимых мероприятий города и республики. </p>

    <p>Также в лицее функционирует Камерный оркестр (художественный
      руководитель <a href="{% url "teacher" 50 %}">И.&nbsp;Ерсак</a>), где
      не только отшлифовывается мастерство оркестровой игры, а также
      разучиваются серьезные программы. </p>

    <p>9 Мая в Органном зале ежегодно проходит отчетный концерт Духового
      оркестра лицея.</p>

    <p>Стал популярным концерт, традиционно проводимый 1 июня в День
      защиты детей в Органном зале, где ребята демонстрируют результаты,
      достигнутые за прошедший учебный год. </p>

    <p>В течение учебного года музыкальные афиши лицея пестрят большим
      количеством тематических концертов различных классов и
      составов. </p>

    <p>Лицеисты играют в Национальной филармонии (в том числе и с
      оркестром), в Органном зале, Доме национальностей, в музеях и школах
      столицы. </p>

    <p>Солисты и коллективы регулярно участвуют в мероприятиях, проводимых
      в Молдове и ее столице: музыкальных фестивалях <span class="blue">"Мэрцишор"</span>,
      днях и декадах украинской, русской, болгарской, литовской,
      еврейской, турецкой, итальянской культур, праздниках славянской
      письменности. </p>
  </section>
{% endblock %}
