{% extends "base/article-base.html" %}
{% block title %}Библиотека лицея{% endblock %}

{% block article_content %}
  <section>
    <header>
    <h2>Библиотека лицея</h2>
    </header>
    <figure>
      <img src="{{ STATIC_URL }}img/articles/buecher.jpg">
    </figure>
    <p>Сегодня перед образовательными учреждениями ставятся цели не только
      воспитания гражданственности, трудолюбия, уважения к правам и свободам
      человека, любви к природе, Родине, но и формирование общей культуры
      личности.</p>

    <p>И целью работы библиотеки, как структурного подразделения
      образовательного учреждения, является содействие образовательной и
      воспитательной школы в подготовке выпускников, владеющих прочными знаниями
      по основам наук, стремящихся к самосовершенствованию, имеющих устойчивую
      мотивацию к социокультурному обновлению общества. Таким образом, перед
      библиотекой стоят задачи воспитания «внутренней крепи» личности и развития
      духовно-нравственной основы подрастающего поколения.</p>

    <p>Библиотека – учреждение культуры. Значит, главная ее характеристика –
      способность растить культурного читателя. Возможности культуры должны быть
      поставлены на службу педагогическим, воспитательным задачам. Ведь
      воспитательно, в лучшем значении этого слова, все настоящее искусство.
      Приобщая к нему, помогая стать эстетически грамотным, библиотека формирует
      не только читательскую культуру, но и личность. Если человек научился
      эстетически грамотно постигать искусство, если он любит настоящую поэзию,
      творчество большого художника - он в плену его высоких гуманистических
      идеалов.</p>

    <p>
      Школьные библиотеки должны искать и находить формы, методы подачи
      литературы. Ведь по словам М. Цветаевой: «то, что читаешь в детстве –
      знаешь всю жизнь». </p>

    <p>
      Библиотекарь - лицо духовной службы. Он профессионал, призванный помочь
      читателю увидеть, понять и оценить себя. Школьные библиотеки в том числе,
      являются учреждением, где осуществляется развитие и воспитание
      гармонической личности. Школьная библиотека с ее системой библиотечных
      уроков, со своими мероприятиями, ежедневной кропотливой работой,
      включается в коллективное творческое дело; приобщать к общественным
      ценностям детей. </p>

    <p>
      Библиотека Республиканского музыкального лицея им. С. Рахманинова имеет в
      своем распоряжении три помещения: абонемент, хранилище литературы,
      хранилище учебников. Фонд библиотеки - 40690 экз., учебники - 3305 экз.,
      книги - 16060 экз., ноты - 21325 экз. В книжном фонде широко представлены
      русская, румынская и зарубежная классика, книги по истории и культур,
      научно-методическая литература. </p>

    <p>
      В распоряжении читателей - уникальный фонд нотной литературы, книг по
      искусству. Ежегодно проводится переоценка литературы, с целью очистки от
      ветхой и морально устаревшей отраслевой литературы, списание учебников. В
      библиотеке строго ведется учетная документация. В 2011 году читателей -
      251 человек, посещений - 1921, выдача - 6011 экз. Чтобы помочь одаренному
      ребенку открыть необъятный мир духовных ценностей, развивать его
      художественные и творческие способности, постоянно поощрять и
      стимулировать его интерес к книгам, библиотека использует различные формы
      и методы работы. </p>

    <p>
      Библиотека также принимает участие в мероприятиях, посвященных различным
      датам, проведении открытых уроков, конкурсов, фестивалей, концертов.
      Перспективы школьной библиотеки - в расширении ассортимента, проводимых
      услуг, превращение библиотеки в информационный центр школы. Библиотека в
      лицее - это не просто пункт выдачи учебников и нот, но она должна быть
      информационным сердцем лицея и деятельность всего школьного организма
      зависит от состояния здоровья этого органа. </p></br>
    Статья <a href="{% url "teacher" 86 %}">Тимченко Т. М.</a>
  </section>
{% endblock %}
