{% extends "base/article-base.html" %}
{% block title %}«Трудный» ребенок в школе{% endblock %}

{% block article_content %}
<h2>«Трудный» ребенок в школе</h2>

<div>
  <span class="byline">Практические рекомендации</span>
  <blockquote>«Да не смущается сердце ваше….» (от Иоанна 14:1)</blockquote>
</div>

<p>
  За годы педагогической работы в Болгарии и в Молдове не раз сталкивалась с «трудными» детьми.
</p>
<h3>Введение</h3>
<p>
  «Трудный» ребенок… что мы, педагоги, вкладываем это понятие? Это ребенок, не подчиняющийся общеустановленным правилам, постоянно нарушающий учебную дисциплину, мешающий проводить урок в спокойной рабочей атмосфере, не «слышащий» замечаний учителя и не реагирующий ни на какие выговоры и строгие меры. К таким детям относятся и ребятишки с СДВГ - синдром дефицита внимания и гиперактивности.
</p>
<p>
  В последние годы их число стремительно растет. Они неугомонные нарушители порядка, магниты для всевозможных происшествий, вечные заводилы и генераторы самых разных неуместных идей. На первый взгляд они похожи на активных детей, но при более пристальном наблюдении обнаруживаются: неконтролируемая двигательная активность, неусидчивость, заниженная негативная самооценка, затрудненная переключаемость. Им очень трудно сосредоточиться и сконцентрироваться более чем на 5-10 мин. Они болтливы, даже посадив его одного, вы сразу заметите, как он уже разговаривает через парту или через ряд, дергает всех вокруг и т.д. Такой ребенок постоянно все теряет, его учебные принадлежности почти всегда мятые, неопрятные. В эмоциональном плане эти дети, как правило, не злы, но в запале чувств, когда отказывают и без того слабые механизмы торможения, такие дети могут быть агрессивны, безотчетно жестоки и неостановимы.
</p>
<p>
  Впоследствии могут сами искренне раскаиваться и сокрушаться, но даже не помнить, как все случилось. В общении с ребенком с СДВГ необходимо учитывать, что в силу особой организации его нервно-мозговых структур, все чувства достаточно поверхностны, лишены объема и глубины и это вовсе не потому, что они бесчувственные эгоисты, а по причине поверхностных восприятий.
</p>
<p>
  Эмпатия, познание - сложная аналитическая работа, требующая определенной концентрации и напряжения, а именно с концентрацией у гиперактивного ребенка большие трудности. Подавляющее число родителей и учителей убеждены, что стоит ему только сосредоточиться, как все проблемы, происходящие из его невнимательности и неусидчивости, мгновенно исчезнут. Именно в этом они ошибаются. Ребенок с СДВГ сосредоточиться категорически не в состоянии, по этой причине, часто учится очень посредственно, вопреки не уступающему другим детям интеллектуальному развитию.
</p>

<p>
  Часто симптомы СДВГ путаются с признаками тревожности. Для того чтобы предположить наличие у ребенка СДВГ симптоматика должна прослеживаться и быть постоянной в течение 6-месячного периода, не менее.
</p>

<h3>Cистема</h3>
<p>
  В своей практике пользуюсь системой, разработанной специалистами. Эта система является своеобразной «скорой помощью» при работе с гиперактивным ребенком. Ее основные пункты:
</p>
<ul>
  <li>Отвлечь ребенка от капризов.</li>
  <li>
    Предложить выбор (другую возможную на данный момент деятельность).
  </li>
  <li>Задать неожиданный вопрос.</li>
  <li>
    Отреагировать неожиданным для ребенка образом (пошутить, повторить действие).
  </li>
  <li>Не приказывать, а просить (но не заискивать).</li>
  <li>
    Выслушать то, что хочет сказать ребенок (в противном случае он не услышит вас).
  </li>
  <li>
    Автоматически, одними и теми же словами повторять многократно свою просьбу (нейтральным тоном).
  </li>
  <li>
    Сфотографировать ребенка или подвести к зеркалу в тот момент, когда он капризничает.
  </li>
  <li>
    Во время капризов оставить в комнате одного (если это безопасно для его здоровья).
  </li>
  <li>
    Не настаивать на том, чтобы он во что бы то ни стало принес извинения.
  </li>
  <li>Не читать нотаций (ребенок все равно их не слышит)</li>
  <li>
    Посоветовать родителям, поддерживать дома четкий распорядок дня.
  </li>
</ul>
<p>Педагогам следует помнить, что у детей с СДВГ очень высокий порог чувствительности к отрицательным стимулам, а слова-запреты как: «нельзя», «не трогай», «запрещаю», «прекрати», «нет» не производят на них ни малейшего впечатления, по сути, они их просто не воспринимают. Также они не восприимчивы к выговорам и наказаниям (особенно физическим). Зато отлично реагируют на одобрение и похвалу.</p>
<h3>Советы</h3>
 <p> Исходя из собственного опыта работы с детьми с СДВГ, могу поделиться следующими выводами:</p>
<ol>
  <li>
    Взаимоотношения с гиперактивным ребенком нужно строить на основе согласия, тепла и взаимопонимания.
  </li>
  <li>
    Совершенно необходимо установить четкие правила и границы дозволенного. Не отступаться от них без очень основательных причин.
  </li>
  <li>
    Непременно все объяснять, избегая лишних эмоций, окриков, гнева, возмущения.
  </li>
  <li>
    Говорить только спокойно, используя юмор, шутку, понятные ребенку забавные сравнения.
  </li>
  <li>
    Обязательно разъяснять, чем вы огорчены или недовольны. Приложить максимум усилий для сдержанного изложения своих мыслей.
  </li>
  <li>
    Поддерживать ребенка во всех попытках положительного поведения и успехах, какими бы незначительными на ваш взгляд они ни были.
  </li>
  <li>
    По возможности установить тесный контакт с родителями. К сожалению, зачастую это бывает исключительно трудно, поскольку синдром дефицита внимания и гиперактивности обусловлен именно недостатком или отсутствием достаточного родительского внимания.
  </li>
  <li>
    Интересоваться увлечениями, внеклассной деятельностью ребенка, проявлять интерес ко всем его достижениям в других видах деятельности.
  </li>
  <li>
    Выслушивать, порой сумбурную речь, вызванную избытком эмоций и неумением вербализовать чувства.
  </li>
  <li>Выражать свою искреннюю заинтересованность делами ученика.</li>
</ol>
<p>Как говорил В. Оклендер: « Когда таким детям уделяют внимание, слушают их, и они начинают чувствовать, что их воспринимают всерьез, они способны свести до минимума симптомы своей гиперактивности».
  Также хочу привести несколько практических примеров для работы с детьми с СДВГ на уроке фортепиано:</p>
<h3>Проблема концентрации.</h3>
<ul>
  <li>
    Игровой момент, когда ребенку трудно охватить двустороннее движение гаммы. Я использую теннисный мячик или любой другой легкий круглый предмет. Задание звучит следующим образом: сыграть гамму в восходящем движении за время движения мячика от одного края крышки рояля к другому краю. Мячик нужно толкнуть с такой силой, чтобы задать темп, в котором ребенку будет легко справиться с поставленной задачей. Повторить упражнение в нисходящем движении гаммы. С каждым проигрыванием темп увеличивается. Когда ученик овладеет односторонним движением, можно перейти к двустороннему движению. Указанное упражнение развивает способность ребенка концентрироваться над постоянно усложняющейся задачей. Развивает целеустремленность и желание довести начатое до конца.
  </li>
  <li>
    Также можно поиграть в игру «Что изменилось». Сыграть фразу из разучиваемого учеником произведения, исполнить ее, изменяя динамику, добавляя ноты или пропуская одну-две ноты мелодии, меняя регистр. Задача ребенка уловить разницу. Упражнение развивает наблюдательность, концентрацию, слуховой контроль.
  </li>
</ul>
<h3>Проблема неконтролируемой двигательной активности.</h3>
<p>
Точное определение времени на работу над отдельным фрагментом произведения при контроле ребенка над бесполезными движениями (тряска ногой, покачивание, причмокивание, щелканье языком) и последующая двигательная разрядка: позволение пройтись по кабинету или пробежаться по пустому коридору, попрыгать и пр.
</p>
<p>
Гиперактивные дети часто просят позволение «выйти на минутку» несколько раз во время урока. Заметив такое за учеником, я всегда позволяю выйти, но прежде чем разрешить выйти в первый раз, договариваюсь с ребенком, что на сегодняшнем уроке, я позволю выйти ему на один раз меньше, чем на прошлом занятии. Постепенно свожу количество «выходов» до 1, а чаще всего необходимость отлучиться отпадает сама собой, поскольку ребенок привыкает к правилам урока, тренируя свою выдержку.
</p>

<h3>Проблема поверхностной эмоциональности.</h3>
<p>
Для музыканта эта проблема очень серьезна и трудно решаема. Музыка требует глубинного осознания эмоций и их воплощение в звуке, для чего в свою очередь необходима высокая степень слухового контроля и общей сосредоточенности. От педагога требуется огромное количество времени и терпения, поскольку приходится разъяснять все эмоции, вербализуя буквально каждый эмоциональный нюанс и лично демонстрируя требуемое в каждом такте.
</p>

<h3>Трудная переключаемость</h3>
<p>
Трудная переключаемость также представляет немалую проблему, поскольку музыканту необходима быстрая реакция при внезапной смене динамики. Также во время урока ребенок должен владеть и пользоваться несколькими навыками одновременно (контроль качества звука, точность штрихов и динамики), что требует мгновенного переноса центра внимания. Все моменты контрастных изменений в исполнении приходится отрабатывать гораздо дольше, чем с другими учениками.
</p>
<p>
Вообще, с гиперактивными детьми следует обсуждать и проговаривать предварительно все необходимые изменения, начиная со смены ключевых знаков, штрихов, нюансов динамики, до вероятного изменения времени и места проведения репетиции, концерта, экзамена. Любая спонтанность может повергнуть ученика в состояние глубочайшего недоумения, и он просто-напросто может не захотеть выходить на сцену.
</p>

<h3>Проблема пониженной работоспособности и неусидчивости</h3>
<p>
В силу физиологических особенностей гипреактивным детям чрезвычайно трудно заставить себя играть на инструменте больше 10- 15 минут к ряду, а современные условия работы предъявляют исключительно высокие требования исполнительскому уровню музыканта, что требует многочасовых занятий. В решении этой проблемы не обойтись без активного участия родителей. Только строгая, порой жесткая, дисциплина дома способна научить гиперактивного ученика справляться с предопределенными ему трудностями. С другой стороны, эти дети остро нуждаются в поощрении, одобрении и похвале. Потому строгий режим работы должен чередоваться с частыми перерывами или переключениями на другой вид деятельности, несущей расслабляющий характер. Например: 20 минут проведенных у инструмента могут смениться 10 минутами обсуждения впечатлений ребенка о просмотренном накануне фильме или школьных событий.
</p>
<p>
Безусловно, мы не можем создать идеальные условия для обучения гиперактивных детей, но обладая соответствующими знаниями, можем помочь им приспособиться и справиться с задачами и проблемами современного гипердинамического мира, раскрыть свои способности и реализовать себя в условиях жесткой конкуренции.
</p>

<h3>Библиография</h3>
<ol>
<li>Оклендер «Окна в мир ребенка»</li>
<li>
Е. В. Мурашова «Гиперактивность: как с этим борются специалисты?»
</li>
<li>
Шанько Г. Г. «Двигательная расторможенность (гиперактивность)»
</li>
<li>
Г. В. Болотовский, Л. С. Чутко, Ю. Д. Кропотов «Общие рекомендации родителям ребенка с СДВГ»
</li>
</ol>

<p>
  Статья <a href="{% url "teacher" 31 %}">Желясковой С. И.</a>
</p>
{% endblock %}
