{% extends "base/article-base.html" %}
{% block title %}Психологическая подготовка музыканта{% endblock %}

{% block article_content %}
  <section>
    <h2>Психологическая подготовка музыканта</h2>
    <article>
      <figure>
        <img src="{{ STATIC_URL }}img/articles/hall.png">
      </figure>
      <h3>Вступление</h3>

      <p>Проблема психологической подготовки
        музыканта-исполнителя к концертному выступлению – одна их важнейших в
        музыкально-исполнительском искусстве. Нет артиста, который ни разу не
        пострадал от негативных форм сценического волнения, образно именуемых
        немецкими музыкантами Lampenfieber.</p>

      <p>Н. А. Римский-Корсаков часто повторял, что
        эстрадное волнение тем больше, чем хуже выучено сочинение. С этим нельзя
        не согласиться. Однако сценическое состояние исполнителя зависит не
        только от того, насколько надёжно и крепко разучено музыкальное
        произведение. Многие музыканты тщательнейшим образом изучают тонкости
        нотного текста, обдумывают исполнительский план, бесконечно репетируют
        все фрагменты предстоящего выступления, но, выходя на сцену, теряют
        способность контролировать происходящее и не могут успешно реализовать
        выношенные художественные намерения.</p>

      <p>Приёмы саморегуляции сценического состояния
        – важный компонент психологической подготовки исполнителя к концертному
        выступлению, но, как это ни странно, методика такой саморегуляции
        недостаточно изучена. Музыканты редко пишут научные работы по проблемам
        сценического волнения, потому что не обладают необходимыми знаниями в
        области психологии, а психологи с опаской обращаются к этой теме, потому
        что не имеют опыта в концертно-исполнительской и
        музыкально-педагогической деятельности.</p>

      <p>Дефицит научных сведений о природе и
        сущности сценического волнения обрекает исполнителей на эмпирические
        поиски приёмов психологической подготовки к концертному выступлению.
        Многие музыкальные педагоги предлагают ученикам рекомендации, основанные
        на личном опыте, на субъективных ощущениях. Часто учащиеся получают от
        преподавателя единый для всех рецепт аутотренинга, данный без учёта
        индивидуальных особенностей личности. </p>

      <p>Зачастую рекомендации преподносятся в
        ультимативной форме: «Делай как я!».</p>

      <p>Ценные советы по психологической подготовке
        исполнителя к концертному выступлению содержатся в книгах, статьях,
        воспоминаниях, методических разработках выдающихся музыкантов и
        педагогов – Л. А. Баренбойма, Д. Д. Благого, Г. М. Когана, Г. Г.
        Нейгауза, С. И. Савшинского, С. Е. Фейнберга и др. Но, к сожалению, эти
        рекомендации не систематизированы, не объединены в самостоятельный
        раздел методики, а, как драгоценные камушки, рассыпаны по разным книгам.
        Не отражена эта проблема и в Программах курса методики, рекомендуемых
        Методическим кабинетом по учебным заведениям искусств.</p>

      <p>Большинство авторов научных работ о природе
        и саморегуляции сценического состояния – пианисты. Это привело к явной
        однобокости исследования проблемы. Способы устранения вредоносных форм
        сценического волнения равно интересуют музыкантов всех исполнительских
        специальностей, и было бы полезно привлечь к обсуждению этого вопроса
        вокалистов, дирижёров, исполнителей на смычковых, духовых и народных
        инструментах. </p>

      <p>У каждого музыканта свой собственный
        неповторимый стиль работы над сочинением. Одному, изучая нотный текст,
        приходится больше внимания уделять проблеме ритма, другому необходимо
        следить за качеством звука, третий значительную часть времени тратит на
        запоминание текста. Есть исполнители, которые во время репетиции
        мучительно долго трудятся над лирическими откровениями, а некоторым
        приходится проявлять постоянную заботу о том, чтобы достаточно
        убедительно прозвучали волевые интонации. У всех свои трудности.</p>
    </article>
    <article>
      <figure>
        <img src="{{ STATIC_URL }}img/articles/sportsman.jpg">
      </figure>
      <h3>Особенности нервной системы</h3>

      <p> Некоторые музыканты рассматривают
        сценическое состояние исполнителя как следствие особенностей его нервной
        системы и рекомендуют исполнителям, страдающим от вредных форм
        эстрадного волнения, аутосуггестивные упражнения, заимствованные из
        спортивной психологии [13, c. 73].
        Спортивные психологи установили, что предстартовые реакции спортсмена
        проявляются в трёх основных формах:</p>
      <ul>
        <li>«боевая готовность»,</li>
        <li>«предстартовая лихорадка»,</li>
        <li>«предстартовая апатия».</li>
      </ul>
      <p> Сценическое волнение музыканта –
        исполнителя проходит, как правило, на фоне физиологических процессов,
        сходных с одной из этих форм.</p>

      <p> Так, чувство творческого подъёма во время
        удачного концертного выступления сопровождается изменениями в организме,
        характерными для спортсмена в состоянии «боевая готовность». В этом
        состоянии возрастает быстрота реакций, обостряется мысль и внимание,
        повышается уровень помехоустойчивости и адаптивных возможностей.</p>

      <p> Ощущение тревоги и беспокойства,
        испытываемое некоторыми музыкантами во время выхода на сценическую
        площадку, сопровождается изменениями в организме, характерными для
        «предстартовой лихорадки». Тормозные процессы в коре головного мозга не
        могут сдерживать возбуждение, поведение становится суетливым, внимание
        рассредоточивается, уровень помехоустойчивости и адаптивных возможностей
        снижается, эмоциональное напряжение быстро возрастает и не всегда
        адекватно ситуации.</p>

      <p> Иногда музыкант–исполнитель жалуется, что у
        него пропало всякое желание к творчеству, что всё ему стало безразлично
        и хочется лишь одного, – чтобы его оставили в покое. Такая форма
        сценического волнения имеет схожие черты с состоянием «предстартовая
        апатия». При этом тормозные процессы в коре головного мозга превалируют
        над возбуждением, ощущается вялость, нежелание действовать, реакции
        замедляются, уровень помехоустойчивости и адаптивных возможностей
        снижается, эмоциональное возбуждение не велико.</p>

      <p> Из всего этого следует, что предстартовое
        волнение спортсмена и сценическое волнение артиста имеют немало схожих
        черт. Но то общее, что их объединяет, не распространяется на глубинные
        особенности профессиональной деятельности. Случается, что пианисты,
        желая обрести способность исполнять музыкальное произведение без ошибок
        и сбоев при любом состоянии организма, применяют в репетиционной работе
        систему специальных упражнений, заимствованную из спорта. Перед началом
        репетиции они совершают повороты вокруг оси, проделывают прыжки с
        приседаниями и после этого пытаются исполнять музыкальное сочинение в
        состоянии физического и эмоционального напряжения [13, c. 73].</p>

      <p> Не думаю, что такого рода упражнения
        способствуют высокому художественному результату. Рекомендации
        спортивных психологов не имеют прямой направленности на творчество, не
        нацелены на стимулирование исполнительской фантазии и слуховых
        представлений, не обостряют музыкальное мышление и, безусловно, не
        помогают музыканту обрести состояние творческого вдохновения. Музыканту
        важнее тренировать устойчивость к тем психическим помехам, которые
        характерны для исполнительской деятельности. И уж совсем неприемлемы
        советы спортивных психологов для вокалистов и духовиков. </p>

      <p> Некоторые музыканты утверждают, что перед
        выступлением полезны самовнушение и аутотренинг. Существуют целые
        руководства, повествующие о том, как и в какой последовательности
        следует произносить заклинания с целью внушить себе состояние
        творческого подъёма. Иногда это помогает. Мне довелось наблюдать, как
        готовились к концерту в Большом зале Новосибирской консерватории
        японские исполнительницы на кото. Неожиданно артистки отвернулись от
        всех, находящихся в комнате, и сосредоточенно зашептали своего рода
        молитву – слова, помогающие обрести творческое состояние души. Однако
        метод суггестии пригоден далеко не всем.</p>
    </article>
    <article>
      <figure>
        <img src="{{ STATIC_URL }}img/articles/violinist.jpg">
      </figure>
            <h3>Интеллектуально-творческие качества личности</h3>

      <p> Известный музыкант-исполнитель Д. Д. Благой
        полагает, что особенности того или иного сценического состояния
        детерминируются не столько свойствами нервной системы, сколько
        интеллектуально-творческими качествами личности. По его мнению, главное
        “лекарство” от пагубных последствий вредных форм эстрадного волнения
        состоит в «увлечённости, всепоглощённости музыкальными образами, в
        непрестанных открытиях всего прекрасного, что содержится в сочинении, в
        любви к каждой его детали, в страсти, с которой жаждешь выявить всё это
        в реальном звучании, в осознании величия музыки, значительности личности
        её создателя, в стремлении приблизиться к нему в меру скромных сил
        своих, в преклонении перед этим величием, этой значительностью...» [3,
        c. 64].</p>

      <p> Д. Д. Благой прав, утверждая, что
        увлечённость художественными образами благотворно влияет на особенности
        сценического состояния. Но преклонение перед прекрасной музыкой далеко
        не всегда освобождает исполнителя от терзающих его сомнений, достоин ли
        он прикасаться к такомy величию. Восхищение личностью композитора не
        всегда устраняет страх перед возможной ошибкой. Не трудно сказать
        ученику, что увлечённость творческими задачами – лучшее «лекарство» от
        негативных видов эстрадного волнения, но порой сложно объяснить, как,
        каким образом обрести на сцене увлечённость тому, кто не может
        сосредоточить внимание на исполнительском процессе из-за вредного
        эстрадного волнения.</p>

      <p> Нет двух артистов, которые испытывают
        одинаковое психологическое состояние в момент выхода на концертную
        площадку. Один исполнитель смертельно боится ошибиться, забыть текст,
        другой смущён эмоциогенной обстановкой концертного зала, ему не по себе
        от сотен устремлённых на него глаз, кто-то хочет больше того, на что
        способен, и мучается, чувствуя свою беспомощность, кому-то всё надоело и
        он мечтает поскорее уйти домой, а некоторые музыканты испытывают
        состояние творческого подъёма и с радостью, с нетерпением ждут общения с
        публикой.</p>

      <p> Кому-то необходима эмоциональная встряска,
        а кому-то – покой, одни употребляют допинг, другие – валерьянку, а
        третьи не пользуются ничем. Есть исполнители, которые перед выходом на
        эстраду много и оживлённо разговаривают на отвлечённые темы, но есть и
        такие, кто предпочитает посидеть в тишине. Некоторые стараются всё
        внимание сосредоточить на предстоящем выступлении, но многим важно
        подумать о чём-то своём, не связанном с концертом. Наконец, один
        музыкант привык перед выступлением много разыгрываться, а другому это
        вовсе не нужно, он боится устать и бережёт свои физические силы. Самые
        доброжелательные рекомендации, данные без учёта индивидуальных
        особенностей личности исполнителя, как правило, не приносят пользы.</p>
    </article>
    <article>
      <h3>Структура динамических сторон личности исполнителя</h3>

      <p> Невозможно объяснить возникновение того или
        иного сценического состояния исполнителя, принимая в расчёт лишь
        особенности нервной системы или одни лишь интеллектуально-творческие
        качества. Необходимо учитывать все стороны динамической структуры
        личности.</p>

      <p> Разработкой динамической структуры личности
        занимались многие психологи [1, c. 88]; [9, c. 43]; [12, c. 16]; [14, c.
        32]; [18, c. 26]. Наибольшее распространение получила концепция К. К.
        Платонова, согласно которой все особенности каждой личности укладываются
        в четыре подструктуры, обобщённо названные автором – направленность,
        опыт, психические процессы, биопсихические свойства [14, c. 32].</p>

      <p> Иерархическая структура личности,
        разработанная К. К. Платоновым, подробно изложена в книге: Столяренко
        Л., Столяренко В. Психология для студентов колледжей [18, c. 26].</p>

      <p> В известных нам публикациях, исследующих
        проблему сценического волнения исполнителя, динамическая структура
        личности не учитывается. Между тем, опираясь на концепцию К. К.
        Платонова, можно выявить все стороны личности, влияющие на особенности
        того или иного сценического состояния музыканта.</p>

      <p> На наш взгляд, структура таких сторон
        личности могла бы выглядеть следующим образом:</p>
      <ul>
        <li>1) психологическая установка на музыкально-исполнительскую
          деятельность, потребность в такой деятельности;
        <li>2) творческий опыт исполнителя, его профессиональные знания;</li>
        <li>3) особенности психических процессов (в том числе исполнительское
          внимание, воля, слуховые представления, оптимальный для творчества
          уровень эмоционального возбуждения, гибкость психологической адаптации
          и др.);
        </li>
        <li>4) типологические свойства высшей нервной деятельности,
          темперамент.
        </li>
      </ul>
      <p> Все стороны личности, перечисленные в этой
        структуре, взаимосвязаны и взаимозависимы. Некоторые из них могут быть
        отнесены одновременно к различным подгруппам. Так, например, оптимальный
        для творчества уровень эмоционального напряжения детерминируется не
        только особенностями психических процессов, но и типологическими
        свойствами высшей нервной деятельности. Гибкость адаптации в одних
        случаях проявляется как особенность психических процессов, а в других –
        как опыт.</p>

      <p> Можно предположить, что сценическое
        состояние исполнителя формируется под воздействием всех четырёх
        подструктур.</p>
    </article>
    <article>

      <figure>
        <img src="{{ STATIC_URL }}img/articles/crowd.jpg">
      </figure>
       <h3>Психологическая установка на музыкально-исполнительскую
        деятельность</h3>
      <p>Г. Васадзе рассматривает эту установку как
        нечто «бессознательное, психическое, лежащее в основе творческой
        активности» [5, c. 514].
        И. В. Дубровина, Е. Е. Денисова, А. М. Прихожан исследуют
        бессознательную установку как «готовность, предрасположенность субъекта
        действовать в предвосхищаемых им условиях ситуации» [8, c. 89]. При этом
        они указывают, что установка может создаться в процессе опыта.</p>

      <p> Психологическая установка на
        музыкально-исполнительскую деятельность мобилизует все творческие
        способности, но не всегда осознаётся музыкантом. Эта мобилизация, поиски
        того или иного исполнительского решения могут осуществляться даже в те
        моменты, когда, казалось бы, музыкант и не думает о предстоящем
        концерте. Повседневные заботы, которые он переживает перед выступлением,
        проявляют себя на фоне главной задачи – мобилизации физических и
        душевных сил к предстоящему исполнению концертной программы.</p>

      <p> Устойчивая психологическая установка на
        периодически повторяющуюся творческую работу со временем преобразуется в
        потребность.</p>

      <p> Л. Л. Бочкарёв выделяет три типа
        потребности в структуре пригодности к музыкально-исполнительской
        деятельности, различая их по мотивациям, – потребность в исполнительском
        процессе (экспрессивная мотивация), потребность в общении со слушателями
        (коммуникативная мотивация) и, наконец, потребность в активном
        воздействии на слушателей (суггестивная мотивация) [4, c. 18].</p>

      <p> Проблема пригодности к
        музыкально-исполнительской деятельности выходит за рамки этой статьи. На
        наш взгляд, для формирования психического состояния творческого подъёма
        наиболее ценными являются следующие потребности: потребность приобщиться
        к Прекрасному, участвуя в исполнительском процессе, потребность в
        творческом общении с партнёрами по ансамблю и с публикой и потребность в
        самовыражении, в желании запечатлеть, сохранить, донести до других людей
        своё особое, личное видение миpa. Люди, лишённые этих качеств, плохо
        чувствуют себя на концертной площадке.</p>

      <p> Увлечённость исполнительским процессом,
        творческими задачами, художественными образами музыкального сочинения
        помогает артисту направить своё волнение в нужное русло. И неспроста в
        закулисных комнатах Малого зала Ленинградской консерватории когда-то
        висел плакат «Волнуйся не за себя, волнуйся за композитора!».</p>

      <p> К. С. Станиславский, беседуя с актерами
        Большого театра, подметил: «Артисту, глубоко ушедшему в творческие
        задачи, нет времени заниматься собою как личностью и своим волнением!»
        [17, c. 99]. А выдающийся музыкант нашего времени, пианист С. Т. Рихтер
        однажды так описал ощущения, испытанные им во время концертного
        выступления: «Стихия музыки, подчинившая тебя, не оставляет места
        праздным мыслям. В эти минуты забываешь всё – не только зрителей, зал,
        но и самого себя» [Цит. по кн.: 16, c. 97].</p>

      <p> Некоторые музыканты страдают от нездоровых
        форм сценического волнения, потому что не могут сосредоточиться на
        творческих задачах, но озабочены тем, к каким последствиям приведёт
        возможная ошибка, как они выглядят, какое впечатление производят на
        слушателей. Таким исполнителям полезно перед выходом на сцену методом
        аутосуггестии внушить себе желание как можно скорее выступить перед
        публикой – «я хочу играть, потому что моё исполнение будет интересно
        собравшимся людям!».</p>

      <p> Мне приходилось слышать, как известный
        скрипач, профессор Б. Л. Гутников перед выходом к публике шептал, словно
        заклинание: «Ах, как я хочу играть! Скорей бы!». Безусловно, это был
        сеанс самовнушения. Ведь исполнителю, который с нетерпением ждёт
        выступления, легче обрести сценическое состояние, способствующее
        успеху.</p>
    </article>
    <article>
      <h3>Творческий опыт, профессиональные знания</h3>

      <p>Чем больше исполнительский опыт, чем чаще
        музыкант выходит на концертную эстраду, тем реже страдает он от недугов
        астенических форм сценического волнения. Однако опыт нельзя путать с
        привычкой. Привычное выполнение музыкантом своих служебных обязанностей,
        каждодневное пребывание на сцене зачастую «убивает» не только вредное
        волнение, но и чувство творческой «окрылённости». Если оркестровый
        музыкант, работающий, скажем, в театре оперы и балета, в течение многих
        лет участвует в одном и том же спектакле, трудно ожидать от него
        творческого подъёма. Ежедневное вдохновение по одному и тому же поводу
        под силу лишь тем, кто беспрестанно поддерживают свой интерес к «делу,
        которому служит», прекрасно зная свою оркестровую партию, пытливо
        изучает партитуру, либретто, литературные источники, историю создания
        музыкального произведения, творческий стиль композитора. Опыт
        стимулирует вдохновение, привычка убивает его.</p>

      <p>Чем шире жизненный и творческий кругозор
        исполнителя, чем больше у него профессиональных знаний, тем ярче и
        глубже способен он художественно истолковывать сочинение и,
        следовательно, тем легче ему направить своё волнение в русло творческих
        задач.</p>

      <p>Известно, что М. И. Гринберг в последние
        годы жизни избегала читать книги о жизни и творчестве композиторов
        прошедших лет. Ей было «важно не то, что когда-то хотел сказать автор, а
        то, что может дать сочинение современному слушателю» [Цит. по: 6 – с.
        197–198].</p>

      <p> Некоторые молодые исполнители ссылаются на
        это высказывание, желая оправдать своё нежелание повышать
        профессиональные знания, но забывают при этом, что М. И. Гринберг было
        от чего «освободиться», что багаж её профессиональных знаний был
        удивительно велик. В поисках свежего взгляда на классику М. И. Гринберг
        могла себе позволить «освободиться» от стереотипных суждений об авторе и
        его творчестве, но, если молодой музыкант мало знает о композиторе, чьё
        сочинение собирается играть, и не хочет узнать больше, то толку не
        будет. Чтобы понять, что может дать классическое сочинение современному
        слушателю, необходимо обладать достаточными знаниями об исполняемой
        музыке.</p>

      <p> Боязнь забыть нотный текст –
        распространённая болезнь среди неопытных музыкантов. Г. М. Коган метко
        подметил, что исполнители чаще всего волнуются из-за боязни забыть
        текст. «Но сама по себе память, – пишет Коган, – тут по большей части не
        при чём. Они волнуются оттого, что боятся забыть, забывают же оттого,
        что волнуются» [10, c. 65].</p>

      <p> Л. А. Баренбойм видит причину провала
        исполнительской памяти и других ошибок, которые сопутствуют эстрадному
        волнению, в «обострении сознательного контроля над автоматически
        налаженными процессами» [2, c. 52]. «Сверхконтроль» над давно
        выработанными исполнительскими навыками, над автоматически налаженными
        психическими процессами, по мнению Л. А. Баренбойма, приносит вред, если
        совершается перед выступлением или на самой эстраде. </p>

      <p> Успешная музыкально-исполнительская
        деятельность возможна лишь в том случае, если согласованно, слаженно
        «работают» интеллектуальная, эмоциональная и двигательная стороны его
        личности. Ни одна из названных сторон не должна подавлять другие. </p>

      <p> Состояние человека в тот момент, когда
        мыслительные функции его психики подавляют эмоциональные, образно
        описывает П. Д. Успенский: «Какую бы работу ни выполнял человек, стоит
        ему выполнять каждое действие обдуманно, следуя умом за всеми
        движениями, – и он увидит, как немедленно изменится качество его работы.
        Если он печатает на машинке, его пальцы, управляемые двигательным
        центром, сами найдут нужные буквы; но, если перед каждой буквой он
        начнёт спрашивать себя: «Где здесь «к»? Где запятая? Из каких букв
        состоит это слово?» – он не может печатать быстро, или начнёт делать
        ошибки, или станет работать очень медленно» [20, c. 150].</p>

      <p> Не менее опасно, когда во время концертного
        выступления эмоциональные стороны психики личности исполнителя заметно
        превалируют над интеллектуальными. В этом случае игра становится
        лихорадочной и сумбурной. </p>

      <p> Если двигательные функции организма долгое
        время подавляют интеллектуальные, исполнение перестаёт быть осмысленным.
        Музыкант, постоянно находящийся в стихии наигранных автоматизмов, не
        может преодолеть рассеянность, не может контролировать происходящее, его
        мысли не связаны с творческими задачами.</p>

      <p> Успех достигается там, где все три функции
        психики – интеллектуальная, эмоциональная и двигательная – действуют
        согласованно, поочерёдно уступая друг другу доминирующее положение, как
        в хорошем камерном ансамбле.</p>

      <p> Безусловно, нельзя не согласиться с Л. А.
        Баренбоймом, что одной из причин провала исполнительской памяти во время
        концертного выступления являются сбои в наработанных навыках, неполадки
        в тех сторонах исполнительского процесса, которые должны осуществляться
        автоматически, без участия сознания.</p>

      <p> Музыкант не должен беспокоиться о том, как
        бы не забыть нотный текст. Но только опытные артисты умеют внушить себе,
        что сочинение выучено надёжно. Многие из них используют методику
        запоминания текста, предложенную польским пианистом И. Гофманом [7, c.
        174 – 175].</p>

      <p> Эта методика заключается в мысленном,
        беззвучном «проигрывании» сочинения сначала по нотам, а затем и не глядя
        в них. Пальцы нажимают воображаемые клавиши, мышцы рук и корпуса
        совершают движения, необходимые для исполнительского процесса, но музыка
        звучит лишь в слуховых представлениях исполнителя. Если музыканту
        удаётся таким способом «проиграть» всё произведение от начала до конца,
        он, как правило, уже не боится забыть текст.</p>

      <p> Уверенность, что произведение выучено
        надёжно, спасает от многих негативных форм эстрадного волнения, но
        требуется немалый опыт, чтобы научиться быстро и прочно запоминать любой
        нотный текст.</p>
    </article>
    <article>
      <h3>Особенности психических процессов</h3>

      <p> На сценическое состояние артиста оказывают
        влияние все психические процессы, протекающие в момент исполнения
        музыкального сочинения. Мы выделяем, как наиболее важные, –
        исполнительское внимание, волю, слуховые представления, оптимальный для
        творчества уровень эмоционального возбуждения, гибкость психологической
        адаптации, художественное истолкование сочинения.</p>

      <p> Большинство психологов рассматривает волю и
        внимание как особые способности личности, являющиеся необходимым
        условием для успешного осуществления какой-либо деятельности. Как и
        прочие человеческие способности, внимание и воля, данные в задатках от
        рождения, поддаются развитию и совершенствуются в процессе образования и
        воспитания.</p>

      <p> Исполнительская деятельность, безусловно,
        относится к числу волевых актов. Исполнительская воля позволяет
        музыканту снимать импульсивность во время выступления, достигать
        органического единства эмоционального и рационального начал в
        творчестве. И произвольное внимание, возникшее как результат усилия
        воли, и непроизвольное, сформировавшееся как результат
        заинтересованности, снижают возможность появления негативных форм
        эстрадного волнения. </p>

      <p> В минуты, когда требуется усилие воли,
        чтобы заставить себя работать, полезно вспомнить известное высказывание
        П. И. Чайковского: «...Работать нужно всегда, и настоящий, честный
        артист не может сидеть сложа руки под предлогом, что он не расположен.
        Если ждать расположения и не пытаться идти навстречу к нему, то легко
        впасть в лень и апатию. Нужно терпеть и верить, и вдохновение неминуемо
        явится тому, кто сумел победить своё нерасположение»[22, c. 154]. </p>

      <p> Важную роль в психологической подготовке
        музыканта к концертному выступлению играют его слуховые представления.
        Мысленно «проигрывая» фрагменты сочинения, представляя себя на
        концертной эстраде и внушив себе соответствующее психологическое
        состояние, исполнитель тренирует свою способность эмоционально
        переживать и истолковывать музыку в условиях эстрадного волнения.
        Музыкально-слуховые представления не только обеспечивают творческое
        отношение к исполняемому сочинению и помогают выбрать исполнительский
        вариант, но и участвуют в контроле за качеством исполнения.</p>

      <p> Эмоциональное возбуждение – важнейшее
        условие для успешного выступления музыканта. Важно, однако, чтобы оно не
        переходило за оптимальные для данной личности границы.</p>

      <p> По всей видимости, у каждого
        музыканта-исполнителя имеется собственный оптимальный уровень
        эмоционального возбуждения, который позволяет ему наиболее успешно
        реализовывать творческий замысел. Если возбуждение выше этого уровня,
        наступает дискоординация мыслей, ослабевает воля, снижается способность
        контролировать и анализировать результаты исполнительского процесса, а в
        тех случаях, когда возбуждение не достигает оптимальных границ,
        выступление, как правило, проходит бесцветно, неинтересно.</p>

      <p> Когда эмоциональное возбуждение музыканта
        достигает оптимального уровня, создаются предпосылки для возникновения
        особого состояния души, особого чувства "окрылённости" и творческого
        подъёма, всего того, что принято называть вдохновением.</p>

      <p> В нашей стране осуществлялись попытки
        выразить в цифрах уровень эмоционального возбуждения музыканта в момент
        подготовки к концертному выступлению. С этой целью замерялись пульс и
        температура тела у готовящихся к выступлению участников 4-го
        Международного конкурса им. П. И. Чайковского [4, c. 70].</p>

      <p> Однако вдохновение музыканта-исполнителя
        вряд ли возможно измерить в цифрах. Думается, это состояние психики не
        следует сводить к тому или иному уровню эмоционального возбуждения. В
        минуты вдохновения на фоне оптимального уровня эмоционального
        возбуждения активизируются абсолютно все творческие способности
        личности. Эмоциональные и интеллектуальные стороны психики в едином
        порыве направлены на решение творческой задачи, на достижение
        художественного результата.</p>

      <p> Музыканту-исполнителю важно вспомнить то
        самочувствие, то психическое состояние, при котором были достигнуты
        творческие успехи, и, готовясь к новому выступлению, сделать попытку
        вновь испытать это ощущение. Так поступают многие исполнители. Но одного
        волевого усилия здесь недостаточно.</p>

      <p> Некоторые музыканты склонны преувеличивать
        значение предстоящего концертного выступления. Им кажется, что концерт,
        к которому они так долго и тщательно готовятся, чуть ли не самое важное
        событие в культурной жизни города, страны. Неумелый музыкальный педагог,
        работая с учеником, порой чрезмерно драматизирует ситуацию, нагнетает
        излишнюю тревогу за исход предстоящего выступления и к началу концерта
        учащийся как бы «перегорает», он не в силах вынести на своих плечах
        внушённый ему груз огромной ответственности.</p>

      <p> Творческий успех возможен только в том
        случае, если эмоциональное напряжение музыканта адекватно возникшей
        ситуации. Однако регулировать эмоциональное возбуждение удаётся не
        каждому. Нужно разумно чередовать работу и отдых и, поддерживая в себе
        чувство ответственности, не поддаваться тревоге. Как тут не вспомнить
        крылатый афоризм, распространённый среди музыкантов: «Выходя на сцену,
        отдавай всего себя без остатка, но при этом помни, что тебе предстоит
        это проделывать ещё тысячу раз!».</p>

      <p> Формирование сценического состояния артиста
        во многом определяется и адаптивными возможностями личности. Исполнитель
        адаптируется к образному языку композитора, к техническим и
        выразительным средствам, которые необходимы для воплощения
        художественного содержания исполняемой музыки, к собственному
        физическому и психическому состоянию, к эмоциогенной обстановке
        зрительного зала, к неожиданностям, которые подстерегают его во время
        выступления. Чем быстрее и гибче адаптируется исполнитель к меняющимся
        условиям концерта, тем успешнее он управляет своим сценическим
        состоянием, тем легче обретает желанное чувство творческого подъёма и
        «окрыленности».</p>

      <p> Эмоциональное переживание, связанное с
        художественным истолкованием сочинения, не оказывает прямого воздействия
        на характер эстрадного волнения, но, формируя психологическую установку
        на творчество, опосредованно влияет на особенности сценического
        состояния. Большое значение имеет то, как высоко оценивает исполнитель
        собственную интерпретацию сочинения. Если музыкант верит, что его
        интерпретация представляет эстетическую ценность, что она непременно
        вызовет интерес у публики, исполнение проходит с особым эмоциональным
        подъёмом.</p>
    </article>
    <article>
      <h3>Типологические свойства, темперамент</h3>

      <p>Исследуя зависимость предстартовых состояний
        спортсмена от типа высшей нервной деятельности, А. В. Родионов пришёл к
        выводу, что спортсмены, обладающие сильным неуравновешенным типом
        нервной системы, чаще других испытывают состояние «предстартовая
        лихорадка», а спортсмены с сильной инертной нервной системой чаще других
        оказываются в состоянии «предстартовая апатия» [14, c. 23 – 24].</p>

      <p> В музыкально-исполнительской деятельности
        наблюдается схожая зависимость – музыканты, имеющие сильный
        неуравновешенный тип нервной системы (холерики), чаще других испытывают
        сценическое состояние, напоминающее «предстартовую лихорадку».
        Исполнители с сильной инертной системой высшей нервной деятельности
        (флегматики) чаще впадают в состояние «творческой апатии». Труднее
        прочих преодолевают нездоровые формы сценического волнения музыканты со
        слабым типом нервной системы (меланхолики).</p>

      <p> Среди спортсменов распространено мнение,
        что успехи в спорте легче достигаются людьми, обладающими сильным типом
        нервной системы – флегматиками, холериками, сангвиниками. Лицам же со
        слабым типом высшей нервной деятельности, чья нервная система отличается
        слабо выраженными возбудительными и тормозными процессами (меланхоликам)
        дорога к победам закрыта.</p>

      <p> В музыкальном исполнительстве успеха могут
        добиться люди с любым типом высшей нервной деятельности, в том числе и
        меланхолики. Если музыкант, обладающий меланхолическим типом
        темперамента, постоянно нацелен на преодоление негативных свойств своей
        психики, то со временем его нервная система приспосабливается к условиям
        творческой работы. Тип темперамента не является роком, данным человеку
        раз и навсегда. </p>

      <p> Мне довелось общаться с музыкантом, который
        в годы учёбы и в начале творческой карьеры демонстрировал все признаки
        меланхолического типа темперамента, но с обретением исполнительского и
        артистического опыта многие свойства его нервной системы подверглись
        перестройке. Некоторые ранее доминировавшие особенности его психики
        постепенно стали незаметны, а другие, существовавшие ранее латентно,
        скрытно выдвинулись в ходе постоянной тренировки на передний план.
        Музыкант стал гибче адаптироваться к вредным формам сценического
        волнения, привык обходиться без мягких напутственных слов перед выходом
        на эстраду, научился играть при большом стечении публики не хуже, чем в
        привычной домашней обстановке. Сейчас он является ведущим солистом
        Новосибирского симфонического оркестра. Однако перестройка врождённых
        свойств психики – процесс сложный, он требует многих лет напряжённой
        работы над собой.</p>

      <p> Тип высшей нервной деятельности музыканта
        определяет многие творческие задачи, которые приходится решать во время
        репетиций. В известной нам музыкально-педагогической литературе не
        описан круг исполнительских проблем, типичных для музыкантов того или
        иного темперамента. Возьму на себя смелость предпринять такую попытку,
        используя для этого свой скромный исполнительский и педагогический
        опыт.</p>

      <p> «Исполнители с темпераментом флегматика». У
        них относительно небогатая шкала динамических оттенков. Часто недостаёт
        артистизма в исполнении. Иногда незаметно для себя замедляют темп.
        Чувствуют себя скованно, когда вынуждены обращаться к непривычному
        композиторскому языку. Не проявляют инициативы в организации своих
        выступлений. Предпочитают не менять партнёров по ансамблю. Работают
        методично, спокойно. Охотно опираются на ранее приобретённые
        исполнительские навыки. Менее других подвержены негативным формам
        эстрадного волнения.</p>

      <p> «Исполнители с темпераментом холерика».
        Изучая сочинение, им приходится прилагать усилия для достижения
        органического единства эмоционального и рационального начал. В
        исполнительской интерпретации ярко проявляется волевое начало. Игра
        холериков, как правило, отличается высоким артистизмом. Они стремятся
        играть ярко и выразительно. Часто испытывают трудности при ритмической
        организации музыкального материала. Имеют склонность незаметно для себя
        ускорять темп, сокращать паузы, недодерживать длинные ноты. Тяжело
        переживают неудачи.</p>

      <p> «Исполнители с темпераментом сангвиника». В
        некоторых случаях эмоциональное начало превалирует над рациональным,
        приходится обуздывать неуправляемые эмоции. Работают неровно — перед
        ответственным выступлением много и увлечённо занимаются, после
        выступления с трудом преодолевают своё нерасположение. Предпочитают
        работать над пьесами, но не над инструктивным материалом. Сангвиники
        охотно ищут применение своим творческим силам, проявляют инициативу в
        организации своих выступлений, но им быстро приедается музыкальное
        сочинение, даже то, которое они сами выбрали. Гибко адаптируются к
        непривычным условиям работы. Неудачи переносят относительно легко.</p>

      <p> «Исполнители с темпераментом меланхолика».
        Как правило, очень тщательно прорабатывают детали исполнения, много
        внимания уделяют подробностям интерпретации. Часто им недостаёт
        масштабности исполнения, артистической раскрепощённости, творческой
        смелости. Медленно адаптируются к непривычным условиям работы. Особенно
        тяжело страдают от негативных форм сценического волнения. Неудачи
        переживают чрезвычайно болезненно.</p>

      <p> Известно, что в чистом виде темпераменты
        встречаются относительно редко. И хотя в творческой работе музыканта
        преобладают черты какого-либо одного темперамента, могут наблюдаться
        также отдельные особенности, свойственные другому. Ежедневное решение
        схожих исполнительских проблем, постоянное выполнение одних и тех же
        творческих задач постепенно меняет психику человека.</p>
    </article>
    <article>
      <h3>Выводы</h3>

      <p>Итак, универсальных «рецептов» для
        преодоления негативных форм сценического волнения не существует. Выбирая
        те или иные приемы психологической подготовки, необходимо учитывать
        индивидуальные особенности психики артиста. Успех достигается легче,
        если музыкант знает и учитывает структуру сторон личности, формирующих
        сценическое состояние.</p>

      <p> Чтобы успешно воздействовать на то или иное
        эмоциональное состояние, музыканту необходимо его осознать, прежде всего
        дать ему название, оценить. По мнению спортивных психологов,
        «эмоциональные состояния… возникают непреднамеренно. Мы не можем по
        одному своему желанию вызывать у себя и переживать эмоциональный подъём
        или уверенность, не можем произвольно изменять своё плохое настроение
        или другое эмоциональное состояние. Управлять им можно только <…> после
        осознания этого состояния» [23, c. 70].</p>

      <p> Музыканты, которые во время концертного
        выступления не могут сосредоточиться на творческих задачах, нуждаются в
        аутосуггестии перед выходом на эстраду. Им важно обрести чувство
        нетерпения и желание играть. И если музыканту есть что сказать
        собравшимся людям, если он готов показать нечто интересное, эстетически
        ценное, если он твердо знает, с какой целью вышел на сцену, все
        второстепенные мысли и заботы исчезнут сами собой.</p>

      <p> Музыканты, которые не верят в свои
        возможности и панически боятся случайных ошибок, должны уяснить, что
        одна удачно сыгранная музыкальная фраза важнее десятка случайных ошибок.
        Можно случайно ошибиться, но нельзя случайно достичь высоких творческих
        результатов, и поэтому оценивать художника следует не по его промахам, а
        по его достижениям. Если хоть что-то в выступлении получилось хорошо, то
        исполнителю можно простить многие «грехи», потому что творческие удачи –
        и есть то главное, ради чего исполнитель вышел к публике. Понимание
        этих, казалось бы, простых истин очень облегчает психологическую
        подготовку к предстоящему выступлению.</p>

      <p> Музыканты, которые жалуются, что перед
        выходом на сцену теряют интерес к концерту, должны позаботиться о том,
        чтобы ощущение творческого подъёма, оптимальный уровень возбуждения
        возникли именно к началу выступления, и не раньше. Им очень важно
        расчётливо беречь свои физические и духовные силы, разумно чередовать
        творческую работу и отдых.</p>

      <p> И, наконец, музыкантам, которые сетуют, что
        робеют в эмоциогенной обстановке концертного зала, я рекомендую особый
        приём психологической подготовки. Очень полезно, занимаясь в пустой
        комнате, силой воображения представить себя на сцене заполненного
        публикой концертного зала, внушить себе состояние творческой
        взволнованности, праздника и в этом психологическом состоянии исполнить
        всю программу. Разумеется, такую репетицию следует проводить уже после
        того, как сочинение надёжно выучено, и ни в коем случае не анализировать
        своё самочувствие во время игры. Всё внимание должно быть сосредоточено
        на художественной интерпретации сочинения. Схожий приём психологической
        подготовки к концерту рекомендует Л. А. Баренбойм [2, c. 58-59].</p>

      <p> Чтобы самостоятельно определить слабые
        стороны своей творческой индивидуальности и выбрать наиболее полезную
        для себя методику психологической подготовки к концертному выступлению,
        надо обладать немалыми знаниями. Автор статьи надеется, что предложенная
        им структура сторон личности, влияющих на формирование того или иного
        сценического состояния, описание исполнительских проблем, характерна для
        музыкантов разных темпераментов, и методики преодоления негативных форм
        эстрадного волнения окажут молодому исполнителю помощь в психологической
        подготовке к концертному выступлению.</p>
    </article>
    <article>
      <h3>ЛИТЕРАТУРА</h3>
      <ol>
        <li>Ананьев Б. Человек как предмет познания. – Л.: Изд-во Ленингр.
          ун-та, 1968.
        </li>
        <li>Баренбойм Л. Музыкальная педагогика и исполнительство. – Л.: Музыка,
          1974.
        </li>
        <li>Благой Д. О музыке… вне музыки // Советская музыка. – 1972. – № 5. –
          С. 64 – 66.
        </li>
        <li>Бочкарёв Л. Психологические аспекты публичного выступления
          музыканта-исполнителя // Вопросы психологии. – 1975. – № 1. – С. 68 –
          79.
        </li>
        <li>Васадзе А. Художественное чувство как переживание «созревшей
          установки» // Бессознательное / Ред. А. Д. Прангишвилли и др. Т. 2. –
          Тбилиси, 1978. – С. 512 – 517.
        </li>
        <li>Вицинский А. Психологический анализ процесса работы пианиста –
          исполнителя над музыкальным произведением // Известия АПН РСФСР / Ред.
          Б. М. Теплова. Вып. 5. – М., 1950. – С. 197 – 198.
        </li>
        <li>Гофман И. Фортепианная игра. Вопросы и ответы. – М.: Искусство,
          1961.
        </li>
        <li>Дубровина И., Денисова Е., Прихожан А. Психология. – Academa,
          2000.
        </li>
        <li>Ковалёв А. Психология личности. – Изд. 3. – М.: Просвещение, 1970.
        </li>
        <li>Коган Г. У врат мастерства. – М.: Сов. композитор, 1961.</li>
        <li>Мартинсен К. Индивидуальная фортепианная техника на основе
          звукотворческой воли. – М.: Музыка, 1966.
        </li>
        <li>Мясищев В. Проблемы личности и ее роль в вопросах соотношения
          психологии и физиологии // Исследование личности в клинике и в
          экстремальных условиях. Т. 50. – Л., 1969. – С. 6 – 17.
        </li>
        <li>Петрушин В. Артистизм – это и тренировка! // Советская музыка. –
          1971. – № 12. – С. 6–17.
        </li>
        <li>Платонов К., Голубев Г. Психология (Учебник для
          инженерно-педагогических работников). – М.: Высш. шк., 1977.
        </li>
        <li>Родионов А. Психология. Темперамент и типы высшей нервной
          деятельности (Лекции для студентов-заочников 3-го курса). – М.: Высш.
          шк., 1968.
        </li>
        <li>Савшинский С. Режим и гигиена работы пианиста. – Л.: Сов.
          композитор, 1963.
        </li>
        <li>Станиславский К. Беседы в студии Большого театра в 1918–1922 гг.
          (записаны К. Антаровой). – М., 1969.
        </li>
        <li>Столяренко Л., Столяренко В. Психология для студентов колледжей. –
          Ростов-на-Дону: Феникс, 2000.
        </li>
        <li>Токина Н. Вопросы психологии музыкально-исполнительского творчества.
          – Саратов: Изд-во Сарат. ун-та, 1972.
        </li>
        <li>Успенский П. В поисках чудесного. – М.: Фаир-Пресс, 2000.</li>
        <li>Фёдоров Е. К вопросу об эстрадном волнении.– М., 1979. – С. 107–118
          (Труды ГМПИ им. Гнесиных; Вып. 43).
        </li>
        <li>Чайковский П. Полн. собр. соч. / Ред. Е. Д. Горковского, И. И.
          Соколинской. – М.: Музыка, 1962.
        </li>
        <li>Черникова О. Эмоциональные состояния в спорте // Спортивная
          психология в трудах отечественных специалистов. – СПб.: Питер, 2000. –
          С. 73–78.
        </li>
      </ol>
    </article>
    <a href="http://www.proza.ru/2009/03/25/161">Статья Евгения Федорова
      Жень-Шень</a>
  </section>
{% endblock %}
