{% extends "base/article-base.html" %}
{% block title %}Десять причин отдать ребёнка в музыкальную школу{% endblock %}

{% block article_content %}
  <section id="reasons">
    <h2>Десять причин отдать ребёнка в музыкальную школу</h2>
    <section><h3>Вступление</h3>
      <p>
        Несмотря на то, что ребёнок фальшиво орёт песни Чебурашки, и слуха у
        него нет; несмотря на то, что пианино некуда поставить, и бабушка не
        может возить ребёнка «на музыку»; несмотря на то, что ребёнку вообще
        некогда – английский, испанский, секция по плаванию, балет и прочая, и
        прочая ...
        <strong>Есть веские причины всё это преодолеть и всё-таки учить музыке,
          и эти причины должны знать современные родители:</strong>
      </p></section>
    <section class="leftsection clearfix">
      <h3>1. Воля</h3>

      <p><strong>Музыкальные занятия воспитывают волю и дисциплину: заниматься
        на инструменте надо постоянно, регулярно и без перерывов.</strong> Зимой
        и летом, в будни и праздники. Почти с тем же упорством, с каким чемпионы
        тренируются в спортзале и на катке. Но, в отличие от героев спорта,
        играя на рояле, нельзя сломать ни шею, ни ногу, ни даже руку.
        Внимание, строгие родители! Музыка – это воспитание характера без риска
        травмы: как хорошо, что такое возможно!</p></section>

    <section class="clearfix">
      <h3>2. Традиция</h3>

      <p><strong>Играть – это следовать традиции</strong>. Музыке учили всех
        аристократов, русских и европейских. Музицировать – это лоск, блеск и
        шик, апофеоз светских манер. Дюк Эллингтон начал играть на рояле потому,
        что вокруг играющего парня всегда собираются девушки. Ну, а вокруг
        играющей девушки? Внимание, родители невест!</p></section>

    <section class="leftsection clearfix">
      <h3>3. Мышление</h3>

      <p><strong>Занимаясь музыкой, ребёнок развивает математические
        способности.</strong> Он пространственно мыслит, попадая на нужные
        клавиши, манипулирует абстрактными звуковыми фигурами, запоминая нотный
        текст, и знает, что в музыкальной пьесе как в математическом
        доказательстве: ни убавить, ни прибавить! Не случайно Альберт Эйнштейн
        играл на скрипке, а профессора физики и профессора математики Оксфорда
        составляют 70% членов университетского музыкального клуба.
        Внимание, дальновидные родители будущих математиков и инженеров!
        Музицировать приятнее, чем решать трудные задачи из-под репетиторской
        палки.</p></section>
    <section class="clearfix">
      <h3>4. Музыка и язык</h3>

      <p>Музыка и язык – близнецы-братья. Они родились следом друг за другом:
        сначала старший – музыка; потом младший – словесная речь, и в нашем
        мозге они продолжают жить рядом.
        Фразы и предложения, запятые и точки, вопросы и восклицания есть и в
        музыке, и в речи.
        <strong>Играющие и поющие лучше говорят и пишут, легче запоминают
          иностранные слова, быстрее усваивают грамматику.</strong>
        Меломаны-литераторы Тургенев и Стендаль, Борис Пастернак и Лев Толстой,
        Жан-Жак Руссо и Ромен Роллан, каждый из которых знал не один иностранный
        язык, рекомендуют всем будущим полиглотам музыку.
        Внимание, мудрые родители будущих журналистов и переводчиков! Вначале
        было Слово, но ещё раньше был Звук.</p></section>
    <section class="leftsection clearfix">
      <h3>5. IT</h3>

      <p>Музыка структурна и иерархична: крупные произведения распадаются на
        менее крупные части, которые в свою очередь делятся на небольшие темы и
        фрагменты, состоящие из мелких фраз и мотивов. Стихийное понимание
        музыкальной иерархии облегчает понимание компьютера, тоже сплошь
        иерархичного и структурного.
        Психологи доказали, что маленькие музыканты, ученики знаменитого Шиничи
        Сузуки, если даже не слишком преуспели в развитии музыкального слуха и
        памяти, зато обошли своих сверстников по уровню структурного мышления.
        Внимание, прагматичные родители будущих IT-инженеров, системных
        администраторов и программистов! Музыка ведёт прямо к вершинам
        компьютерных наук; <strong>не случайно фирма Microsoft предпочитает
          сотрудников с музыкальным образованием.</strong></p></section>
    <section class="clearfix">
      <h3>6. Музыка и общение</h3>

      <p><strong>Музыкальные занятия развивают навыки общения или, как их
        сегодня называют, коммуникативные навыки.</strong> За годы учёбы
        ребёнок-музыкант познакомится с галантным и дружественным Моцартом,
        ершистым и атлетичным Прокофьевым, умудрённым и философичным Бахом и
        другими очень разными музыкальными персонами. Играя, ему придётся в них
        перевоплотиться и донести до публики их характер, манеру чувствовать,
        голос и жесты.
        Теперь остаётся один шаг до таланта менеджера. Ведь для него едва ли не
        главное – понимать людей и, пользуясь своим пониманием, управлять ими.
        Внимание, амбициозные родители будущих основателей бизнес-империй!
        Музыка ведет от сердца к сердцу, и самое грозное оружие топ-менеджера –
        обезоруживающая улыбка «хорошего парня».</p></section>
    <section class="leftsection clearfix">
      <h3>7. Дух</h3>

      <p>Музыканты мягкосердечны и одновременно мужественны. Как утверждают
        психологи, музыканты-мужчины чувственны, как дамы, а музыканты-женщины
        стойки и тверды духом, как мужчины. <strong>Музыка смягчает нравы, но,
          чтобы в ней преуспеть, надо быть мужественным.</strong> Внимание,
        прозорливые родители, ожидающие помощи и поддержки в старости! Дети,
        которые занимались музыкой, сочувственны и одновременно терпеливы, и
        потому чаще готовы подать своим престарелым родителям тот самый «стакан
        воды».</p></section>
    <section class="clearfix">
      <h3>8. Deadline</h3>

      <p>Занятия музыкой приучают «включаться по команде». Музыканты меньше
        боятся страшного слова deadline – срок сдачи работы. В музыкальной школе
        нельзя перенести на завтра или на неделю вперёд зачёт по гаммам и
        классный концерт. Положение артиста на сцене приучает к максимальной
        готовности «по заказу», и ребёнок с таким опытом не завалит серьёзный
        экзамен, интервью при приёме на работу и ответственный доклад.
        Внимание, беспокойные родители! <strong>Музыкальные занятия в детстве –
          это максимальная выдержка и артистизм на всю жизнь.</strong></p>
    </section>
    <section class="leftsection clearfix">
      <h3>9. Активность</h3>

      <p>Музыкальные занятия воспитывают маленьких «цезарей», умеющих делать
        много дел сразу. <strong>Музыка помогает ориентироваться в нескольких
          одновременных процессах:</strong> так, читающий с листа пианист, сразу
        делает несколько дел – помнит о прошлом, смотрит в будущее и
        контролирует настоящее.
        Музыка течёт в своём темпе, и читающий с листа не может прерваться,
        отдохнуть и перевести дух. Так же и авиадиспетчер, оператор ЭВМ или
        биржевой брокер следит за несколькими экранами и одновременно слушает и
        передаёт информацию по нескольким телефонам. Музыка приучает мыслить и
        жить в нескольких направлениях.
        Внимание, перегруженные и усталые родители! Ребёнку-музыканту будет
        легче, чем Вам, бежать по нескольким жизненным дорожкам и везде
        приходить первым.</p></section>
    <section class="clearfix">
      <h3>10. Успех</h3>

      <p>И, наконец, <strong>музыка – наилучший путь к жизненному
        успеху.</strong> Почему? См. пункты 1-9.
        Немудрено, что музыкальным прошлым отмечены многие знаменитости:
      <ul>
        <li>- Агата Кристи свой первый рассказ написала о том, почему ей трудно
          играть на фортепиано на сцене;
        </li>
        <li>- Кондолиза Райс, напротив, больше всего любит играть на публике в
          своём ослепительном концертном платье,
        </li>
        <li>- Билл Клинтон уверен, что без саксофона никогда не стал бы
          президентом.
        </li>
      </ul>
      Посмотрите на успешных людей в любой области, спросите, не занимались ли
      они в детстве музыкой, хотя бы даже и недолго, хотя бы даже и без особого
      рвения? Конечно, занимались. И у нас есть 10 причин последовать их
      вдохновляющему примеру.</p></section>
    <section></br>
      <strong>Автор статьи: Д.К.Кирнарская</strong></br>
      (проректор Российской академии музыки им. Гнесиных,
      профессор, доктор искусствоведения, доктор психологических наук)
    </section>
  </section>
{% endblock %}
