/* line 1, ../sass/paginate.scss */
#page_container {
  margin-top: 1em;
}
/* line 3, ../sass/paginate.scss */
#page_container .row + .row > * {
  padding-top: 0;
}

/* line 8, ../sass/paginate.scss */
.jPaginate {
  height: 34px;
  position: relative;
}
/* line 11, ../sass/paginate.scss */
.jPaginate a {
  line-height: 15px;
  height: 18px;
  cursor: pointer;
  padding: 2px 5px;
  margin: 2px;
  float: left;
}
/* line 19, ../sass/paginate.scss */
.jPaginate span {
  cursor: pointer;
}

/* line 25, ../sass/paginate.scss */
.jPag-control-back {
  position: absolute;
  left: 0px;
}

/* line 30, ../sass/paginate.scss */
.jPag-control-front {
  position: absolute;
  top: 0px;
}

/* line 35, ../sass/paginate.scss */
ul.jPag-pages {
  float: left;
  list-style-type: none;
  margin: 0px 0px 0px 0px;
  padding: 0px;
}
/* line 40, ../sass/paginate.scss */
ul.jPag-pages li {
  display: inline;
  float: left;
  padding: 0px;
  margin: 0px;
}
/* line 45, ../sass/paginate.scss */
ul.jPag-pages li a {
  float: left;
  padding: 2px 4px;
}
/* line 49, ../sass/paginate.scss */
ul.jPag-pages li span.jPag-current {
  cursor: default;
  font-weight: normal;
  line-height: 15px;
  height: 18px;
  padding: 2px 5px;
  margin: 2px;
  float: left;
}

/* line 68, ../sass/paginate.scss */
ul.jPag-pages li span.jPag-previous,
ul.jPag-pages li span.jPag-next,
span.jPag-sprevious,
span.jPag-snext,
ul.jPag-pages li span.jPag-previous-img,
ul.jPag-pages li span.jPag-next-img,
span.jPag-sprevious-img,
span.jPag-snext-img {
  height: 22px;
  margin: 2px;
  float: left;
  line-height: 18px;
}

/* line 76, ../sass/paginate.scss */
ul.jPag-pages li span.jPag-previous,
ul.jPag-pages li span.jPag-previous-img {
  margin: 2px 0px 2px 2px;
  font-size: 12px;
  font-weight: bold;
  width: 10px;
}

/* line 85, ../sass/paginate.scss */
ul.jPag-pages li span.jPag-next,
ul.jPag-pages li span.jPag-next-img {
  margin: 2px 2px 2px 0px;
  font-size: 12px;
  font-weight: bold;
  width: 10px;
}

/* line 93, ../sass/paginate.scss */
span.jPag-sprevious,
span.jPag-sprevious-img {
  margin: 2px 0px 2px 2px;
  font-size: 18px;
  width: 15px;
  text-align: right;
}

/* line 101, ../sass/paginate.scss */
span.jPag-snext,
span.jPag-snext-img {
  margin: 2px 2px 2px 0px;
  font-size: 18px;
  width: 15px;
  text-align: right;
}
